<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcfc.demo.modules.sdv.mapper.UserMapper">
<!--    数据库字段和类属性对应-->


    <resultMap id="userMap" type="com.lcfc.demo.modules.sdv.dto.UserLoginDto">
        <result property="userName" column="user_name"></result>
        <result property="passWord" column="pass_word"></result>
    </resultMap>
    <select id="getUser" resultType="java.lang.String" parameterType="java.lang.String">
        select
            a.pass_word
        from user a
        <where>
            a.user_name = #{ userName }
        </where>

    </select>
<!--        返回值-->
    <select id="getUserList" resultType="com.lcfc.demo.modules.sdv.dto.UserLoginDto" parameterType="java.lang.String">
        select
            a.user_name,
            a.pass_word
        from user a
        <where>
            a.user_name in
            <foreach collection="names" item="item" close=")" open="(" separator="," index="index">
                #{ item }
            </foreach>
        </where>
    </select>

    <update id="modifyUserInfo" >
        update user a
            set a.user_name = #{ user.userName }, a.pass_word = #{ user.passWord }
        <where>
            a.user_name = #{ oldUserName }
        </where>
    </update>


<!--    动态菜单-->
    <resultMap id="menuMap" type="Menu">
        <result property="id" column="id"></result>
        <result property="userName" column="user_name"></result>
        <result property="menuName" column="menu_name"></result>
        <result property="parentId" column="parent_id"></result>
        <result property="path" column="path"></result>
        <result property="icon" column="icon"></result>
        <result property="order" column="order"></result>
    </resultMap>
    <select id="getMenuList" parameterType="java.lang.String" resultMap="menuMap">
        select
            *
        from user_order a
        <where>
            a.user_name = #{ userName }
        </where>
    </select>



</mapper>